<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue@2.4.2"></script>

<style>
    
    .active{
        color: red;
    }
    .menu{
      display: flex;
    }
    ul{
      flex: 1;
      height: 36px;
      background: #eee;
    }
    li{
      float: left;
      padding: 0px 24px;
      line-height: 36px;
      list-style: none;
      cursor: pointer;
    }
</style>
</head>
<body>
    <div id="app">
        <div class="menu">
            <ul>
                <li :class="{active: index == n}" v-for="(item, index) in menus" @click="toggle(index)">{{item.name}}</li>
            </ul>
        </div>
        <div class="run-result">
            <div class="" v-if="n==0">tab1</div>
            <div class="" v-if="n==1">tab2</div>
            <div class="" v-if="n==2">tab3</div>
            <div class="" v-if="n==3">tab4</div>
        </div>
    </div>



<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            menus: [
                {name: 'tab1'},
                {name: 'tab2'},
                {name: 'tab3'},
                {name: 'tab4'}
            ],
            n: 0
        },
        methods: {
            toggle (index) {
                this.n = index
            }
        }
    })
</script>
</body>

</html>